services:
  postgres:
    image: postgres:16-alpine
    container_name: incidentscope-postgres
    environment:
      POSTGRES_USER: incidentscope
      POSTGRES_PASSWORD: incidentscope-dev
      POSTGRES_DB: incidentscope
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ../init/postgres-init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U incidentscope"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: incidentscope-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: incidentscope-clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_DB: incidentscope
      CLICKHOUSE_USER: incidentscope
      CLICKHOUSE_PASSWORD: incidentscope-dev
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ../init/clickhouse-init.sql:/docker-entrypoint-initdb.d/init.sql
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: incidentscope-redpanda
    command:
      - redpanda
      - start
      - --kafka-addr
      - internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr
      - internal://redpanda:9092,external://localhost:19092
      - --pandaproxy-addr
      - internal://0.0.0.0:8082,external://0.0.0.0:18082
      - --advertise-pandaproxy-addr
      - internal://redpanda:8082,external://localhost:18082
      - --schema-registry-addr
      - internal://0.0.0.0:8081,external://0.0.0.0:18081
      - --rpc-addr
      - redpanda:33145
      - --advertise-rpc-addr
      - redpanda:33145
      - --smp
      - '1'
      - --memory
      - 1G
      - --mode dev-container
      - --default-log-level=info
    ports:
      - "18081:18081"
      - "18082:18082"
      - "19092:19092"
    volumes:
      - redpanda-data:/var/lib/redpanda/data

  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: incidentscope-otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./config/otel-collector-config.yaml:/etc/otel-collector-config.yaml:ro
    ports:
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP HTTP receiver
    depends_on:
      - redpanda

volumes:
  postgres-data:
  redis-data:
  clickhouse-data:
  redpanda-data:

networks:
  default:
    name: incidentscope-network

